// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.section-plan {
    position: relative;
    padding-bottom: 178px;
    .container {
        @include pc {
            padding: 0 40px;
        }
        overflow-y: visible;
    }
    .banner-pack {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -78px;
        // display: flex;
        // justify-content: center;
        .banner {
            width: 1100px;
            height: 356px;
            padding: 30px 35px;
            margin: 0 auto;
            background: #fefefe;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            position: relative;
            @include pc {
                width: 1500rem;
                height: 500rem;
            }
            @include tb {
                padding: 50rem 70rem;
            }
            @include sp {
                width: 1850rem;
                height: 132px;
                padding: 12px 13px;
            }
            .ttl-pack {
                position: absolute;
                left: 50%;
                top: -14PX;
                transform: translateX(-50%);
                width: 722px;
                height: 92px;
                @include pc {
                    top: -19rem;
                    width: 1000rem;
                    height: 150rem;
                }
                @include sp {
                    width: 267px;
                    height: 86px;
                }
            }
            .banner-box {
                width: 100%;
                height: 100%;
                border: 5px solid $green;
                padding: 70px 20px 30px;
                @include pc {
                    padding: 80rem 20rem 30rem;
                }
                @include lp {
                    padding: 65rem 20rem 30rem;
                }
                @include tb {
                    padding: 20rem 20rem 30rem;
                }
                .box-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .logo-phone {
                        .logo-pack {
                            display: flex;
                            justify-content: center;
                            img {
                                width: 269px;
                                height: 83px;
                                @include pc {
                                    width: 350rem;
                                    height: 130rem;
                                }
                                @include sp {
                                    width: 106px;
                                    height: 33px;
                                }
                            }
                            @include sp {
                                width: 106px;
                                height: 33px;
                            }
                        }
                        .telephone {
                            .tel-info {
                                font-size: 35px;
                                color: $green;
                                font-family: "NotoSans";
                                display: flex;
                                justify-content: center;
                                align-items: baseline;
                                .tel-number {
                                    font-weight: 900;
                                    font-size: 50px;
                                    color: $green;
                                    font-family: "NotoSans";
                                    @include pc {
                                        font-size: 70rem;
                                    }
                                    @include sp {
                                        font-size: 18px;
                                        line-height: 27px;
                                    }
                                }
                                @include pc {
                                    font-size: 50rem;
                                }
                            }
                            .tel-time {
                                margin-top: -10px;
                                font-size: 12px;
                                letter-spacing: 0.05em;
                                color: #222;
                                text-align: center;
                                font-family: "NotoSans";
                                font-weight: 300;
                                @include tb {
                                    margin-top: -20rem;
                                    font-size: 25rem;
                                }
                                @include sp {
                                    font-size: 4px;
                                    line-height: 5px;
                                }
                            }
                            @include tb {
                                margin-left: 200rem;
                            }
                            @include sp {
                                margin-left: 68px;
                            }
                        }
                        @include tb {
                            // margin-top: 40rem;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .banner-items {
                        margin-left: 78px;
                        @include pc {
                            margin-left: 100rem;
                        }
                        @include tb {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 0;
                            margin-top: 5px;
                        }
                        .banner-item {
                            width: 474px;
                            height: 90px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            font-size: 29px;
                            line-height: 43px;
                            color: #fff;
                            background: $green;
                            border-radius: 10px;
                            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                            font-family: "NotoSans";
                            font-weight: bold;
                            position: relative;
                            @include pc {
                                width: 650rem;
                                height: 130rem;
                                font-size: 45rem;
                                line-height: 55rem;
                            }
                            @include tb {
                                width: 600rem;
                            }
                            @include sp {
                                width: 760rem;
                                height: 34px;
                                font-size: 55rem;
                                line-height: 12px;
                            }
                            .message-img {
                                width: 44px;
                                height: 44px;
                                @include pc {
                                    width: 60rem;
                                    height: 60rem;
                                }
                                @include sp {
                                    margin-left: 50rem;
                                    width: 55rem;
                                    height: 55rem;
                                }
                            }
                            .play-img {
                                width: 29px;
                                height: 29px;
                                @include pc {
                                    width: 45rem;
                                    height: 45rem;
                                }
                                @include sp {
                                    margin-right: 50rem;
                                    width: 55rem;
                                    height: 55rem;
                                }
                            }
                            .edit-img {
                                width: 49px;
                                height: 49px;
                                @include pc {
                                    width: 70rem;
                                    height: 70rem;
                                }
                                @include sp {
                                    margin-left: 50rem;
                                    width: 55rem;
                                    height: 55rem;
                                }
                            }
                            .item-time {
                                position: absolute;
                                bottom: 5px;
                                left: 50%;
                                transform: translateX(-50%);
                                font-family: "Noto Sans JP";
                                font-weight: 300;
                                font-size: 14px;
                                line-height: 20px;
                                text-align: left;
                                color: #fff;
                                @include pc {
                                    bottom: 10rem;
                                    font-size: 27rem;
                                    line-height: 30rem;
                                }
                                @include sp {
                                    font-size: 4px;
                                    line-height: 5px;
                                }
                            }
                        }
                        .mt-15 {
                            margin-top: 15px;
                            @include tb {
                                margin-top: 0;
                                margin-left: 12px;
                            }
                        }
                    }
                    @include tb {
                        flex-direction: column;
                        margin-top: 35rem;
                    }
                }
            }
        }
        @include sp {
            top: 30px;
        }
    }
    .plan-pack {
        padding-top: 460px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        img {
            width: 106px;
            height: 106px;
            @include sp {
                width: 60px;
                height: 60px;
            }
        }
        @include pc {
            padding-top: 500rem;
        }
        @include sp {
            padding-top: 203px;
        }
    }
    .plan-ttl {
        margin-top: 15px;
        font-size: 30px;
        line-height: 45px;
        font-weight: bold;
        font-family: NotoSans;
        text-align: center;
        color: $green;
        @include sp {
            margin-top: 0;
            font-size: 18px;
            line-height: 27px;
        }
    }
    .under-line {
        margin: 20px auto 0;
        border: 1.5px solid $green;
        width: 91px;
        @include tb {
            margin-top: 30rem;
            width: 130rem;
        }
        @include sp {
            display: none;
        }
    }
    .plan-items {
        margin-top: 105px;
        display: flex;
        justify-content: center;
        @include pc {
            margin-top: 130rem;
        }
        @include md {
            flex-direction: column;
            align-items: center;
        }
        @include sp {
            margin-top: 62px;
        }
        .plan-item {
            width: 377px;
            height: 215px;
            border-radius: 20px;
            background: #65c195;
            border: 1px solid #e4e4e4;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            @include pc {
                width: 463rem;
                height: 327rem;
            }
            @include md {
                width: 754rem;
                height: 430rem;
            }
            @include sp {
                width: 250px;
                height: 142px;
            }
            .item-ttl {
                margin-top: 18px;
                font-family: "NotoSans";
                font-weight: bold;
                font-size: 24px;
                letter-spacing: 0.1em;
                text-align: center;
                color: #fff;
                @include pc {
                    margin-top: 27rem;
                    font-size: 33rem;
                }
                @include md {
                    margin-top: 36rem;
                    font-size: 48rem;
                }
                @include sp {
                    margin-top: 12px;
                    font-size: 15px;
                }
                .small {
                    font-size: 16px;
                    @include sp {
                        font-size: 10px;
                    }
                }
            }
            .item-price {
                margin-top: 22px;
                font-family: "NotoSans";
                font-weight: bold;
                font-size: 24px;
                letter-spacing: 0.1em;
                text-align: center;
                color: #fff;
                @include pc {
                    margin-top: 33rem;
                    font-size: 33rem;
                }
                @include md {
                    margin-top: 44rem;
                    font-size: 48rem;
                }
                @include sp {
                    margin-top: 17px;
                    font-size: 15px;
                }
            }
            .item-button {
                margin: 18px auto 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "NotoSans";
                font-weight: bold;
                font-size: 15px;
                letter-spacing: 0.1em;
                text-align: center;
                color: #fff;
                width: 252px;
                height: 55px;
                border-radius: 10px;
                background: #ffb743;
                @include pc {
                    width: 378rem;
                    height: 83rem;
                    font-size: 22rem;
                }
                @include md {
                    width: 504rem;
                    height: 110rem;
                    font-size: 30rem;
                }
                @include sp {
                    width: 167px;
                    height: 37px;
                    font-size: 9px;
                }
            }
        }
        .ml-34 {
            margin-left: 34px;
            @include md {
                margin-left: 0;
                margin-top: 50rem;
            }
        }
    }
    .plan-feature {
        margin-top: 70px;
        @include md {
            display: none;
        }
        .feature-ttl {
            height: 93px;
            border-radius: 10px 10px 0px 0px;
            background: #65c195;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "NotoSans";
            font-weight: bold;
            font-size: 26px;
            text-align: left;
            color: #fff;
        }
        .feature-desc {
            display: flex;
            justify-content: center;
            .desc-item {
                width: 33.33333333%;
                padding: 16px;
                font-family: "HiraginoSans";
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #2e2e2e;
                border: 1px solid #2e2e2e;
            }
            .borderx-none {
                border-right: none;
                border-left: none;
            }
        }
    }
    .plan-quality {
        @include md {
            display: none;
        }
        .quality-ttl {
            height: 93px;
            background: #65c195;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "NotoSans";
            font-weight: bold;
            font-size: 26px;
            text-align: left;
            color: #fff;
        }
        .quality-items {
            display: flex;
            justify-content: center;
            .quality-item__f {
                padding: 16px;
                width: 66.66666666666%;
                font-family: "HiraginoSans";
                font-weight: normal;
                font-size: 15px;
                letter-spacing: 0.1em;
                text-align: left;
                color: #2e2e2e;
                border: 1px solid #2e2e2e;
                .item {
                    margin-bottom: 14px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    .item-img {
                        width: 16px;
                        height: 16px;
                    }
                    .item-desc {
                        margin-left: 23px;
                        font-family: "HiraginoSans";
                        font-weight: normal;
                        font-size: 15px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #2e2e2e;
                    }
                }
            }
            .quality-item__s {
                width: 33.33333333%;
                padding: 16px;
                font-family: "HiraginoSans";
                font-weight: normal;
                font-size: 15px;
                letter-spacing: 0.1em;
                text-align: left;
                color: #2e2e2e;
                border: 1px solid #2e2e2e;
                border-left: none;
                .item {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    .item-img {
                        width: 16px;
                        height: 16px;
                    }
                    .item-desc {
                        margin-left: 5px;
                        font-family: "HiraginoSans";
                        font-weight: normal;
                        font-size: 15px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #2e2e2e;
                    }
                }
            }
        }
    }
    .plan-question {
        @include md {
            display: none;
        }
        .question-ttl {
            height: 93px;
            background: #65c195;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "NotoSans";
            font-weight: bold;
            font-size: 26px;
            text-align: left;
            color: #fff;
        }
        .question-items {
            display: flex;
            justify-content: center;
            .question-item__f {
                padding: 16px;
                width: 66.66666666666%;
                font-family: "HiraginoSans";
                font-weight: normal;
                font-size: 15px;
                letter-spacing: 0.1em;
                text-align: left;
                color: #2e2e2e;
                border: 1px solid #2e2e2e;
                .item {
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    .item-img {
                        width: 16px;
                        height: 16px;
                    }
                    .item-desc {
                        margin-left: 23px;
                        font-family: "HiraginoSans";
                        font-weight: normal;
                        font-size: 15px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #2e2e2e;
                        .small {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .question-item__s {
                width: 33.33333333%;
                padding: 16px;
                font-family: "HiraginoSans";
                font-weight: normal;
                font-size: 15px;
                letter-spacing: 0.1em;
                text-align: left;
                color: #2e2e2e;
                border: 1px solid #2e2e2e;
                border-left: none;
                .item {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    .item-img {
                        width: 16px;
                        height: 16px;
                    }
                    .item-desc {
                        margin-left: 5px;
                        font-family: "HiraginoSans";
                        font-weight: normal;
                        font-size: 15px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #2e2e2e;
                    }
                }
            }
        }
    }
    .plan-document {
        @include md {
            display: none;
        }
        .document-ttl {
            height: 93px;
            background: #65c195;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "NotoSans";
            font-weight: bold;
            font-size: 26px;
            text-align: left;
            color: #fff;
        }
        .document-desc {
            display: flex;
            justify-content: center;
            .desc-item {
                width: 33.33333333%;
                padding: 16px;
                font-family: "HiraginoSans";
                font-weight: normal;
                font-size: 15px;
                letter-spacing: 0.1em;
                text-align: left;
                color: #2e2e2e;
                border: 1px solid #2e2e2e;
            }
            .borderx-none {
                border-right: none;
                border-left: none;
            }
        }
    }
    @include tb {
        .tb-none {
            display: none;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        overflow: inherit;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-pagination {
        position: absolute;
        margin: 0;
        bottom: -60px !important;
        left: 50% !important;
        width: 100%;
        transform: translateX(-50%);
        @include sp {
            bottom: -50px !important;
        }
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border: 1px solid $green;
        border-radius: 50%;
        opacity: 1;
        background-color: #fff;
        bottom: -20px !important;
    }
    .swiper-pagination-bullet-active {
        background: $green;
    }
    .plan-content__sp {
        display: none;
        margin-top: 40px;
        @include tb {
            display: block;
        }
        .slide-name {
            font-family: "NotoSans";
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.1em;
            text-align: center;
            color: #65c195;
            .small {
                font-size: 15px;
            }
        }
        .ttl-shared {
            height: 73px;
            background: $green;
            font-weight: bold;
            font-size: 50rem;
            line-height: 44rem;
            color: #fff;
            font-family: "NotoSans";
            display: flex;
            justify-content: center;
            align-items: center;
            @include sp {
                font-size: 17px;
                line-height: 22px;
                height: 73px;
            }
        }
        .desc-shared {
            padding: 26px 18px;
            font-family: "NotoSans";
            font-weight: bold;
            font-size: 36rem;
            letter-spacing: 0.1em;
            color: #2e2e2e;
            border: 1px solid #8b8b8b;
            text-align: left;
            .small {
                font-size: 26rem;
                @include sp {
                    font-size: 10px;
                }
            }
            @include sp {
                font-family: "HiraginoSans";
                font-weight: normal;
                font-size: 13px;
            }
        }
        .feature-ttl {
            @extend .ttl-shared;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        .feature-desc {
            @extend .desc-shared;
            height: 250px
        }
        .quality-ttl {
            @extend .ttl-shared;
        }
        .quality-desc {
            @extend .desc-shared;
            height: 175px
        }
        .question-ttl {
            @extend .ttl-shared;
        }
        .question-desc {
            @extend .desc-shared;
            height: 120px
        }
        .document-ttl {
            @extend .ttl-shared;
        }
        .document-desc {
            @extend .desc-shared;
            height: 120px
        }
    }
}